*{
    box-sizing: border-box;
    border: 1px solid black;
}

html, body{
    padding: 0;
    margin: 0;
}

body{
    overflow-x: hidden;
    overflow-y: scroll;
    display: block;
}

header{
    display: block;
    width: 100vw;
    height: 20vh;
    padding-top: 5vh;
}

h1{
    width: 100vw;
    min-width: 300px;
    text-align: center;
    font-size: 5vw;

}

h3{
    width: 100%;
    text-align: center;
}

input{
    max-width: 20vw;

}

label{
    width: 100%;
    text-align: center;
}

main{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
}

/* classes */

.costWarning{
    background-color: red;
}

.form-row{
    justify-content: center;
}

.tableContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}




