*{
    box-sizing: border-box;
    
}

html, body{
    padding: 0;
    margin: 0;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    background: var(--gold);
    background-repeat: none;    
    --gold: linear-gradient(to top right, rgb(237, 142, 0), rgb(238, 232, 170),
                                rgb(212, 175, 55), rgb(238, 232, 170));
    --darkerYellow: rgb(237, 142, 0);
    --lighterYellow: rgb(238, 232, 170);
    --mediumYellow: rgb(212, 175, 55);
    --red: #FE0600;
}

form{
    min-height: 180px;
}

header{
    display: block;
    width: 100vw;
    height: auto;
}

h1{
    width: 100vw;
    min-width: 300px;
    text-align: center;  
}

h3{
    width: 100%;
    text-align: center;
}

input{
    max-width: 20vw;
    background: transparent !important;
    font-family: 'Poiret One', cursive !important; 
    color: #000;
    border: 2px solid var(--lighterYellow) !important;
    box-shadow: 0 0 20px rgba(0,0,0,0.2), inset 0 0 50px rgba(0,0,0,0.5);
    -webkit-text-stroke: 1px #000;
}

input:focus{    
    box-shadow: 0 0 20px rgba(0,0,0,0.2), 
                inset 0 0 25px  rgba(238, 232, 170, 0.8) !important;          

}

::-webkit-input-placeholder { 
    font-family: 'Poiret One', cursive;  
    color: var(--lighterYellow) !important;
    -webkit-text-stroke: 1px var(--lighterYellow);
}
::-moz-placeholder { 
    font-family: 'Poiret One', cursive;  
    color: var(--lighterYellow) !important;
     -moz-text-stroke: 1px var(--lighterYellow);
}
:-ms-input-placeholder { 
    font-family: 'Poiret One', cursive;
    color: var(--lighterYellow) !important;
     -ms-text-stroke: 1px var(--lighterYellow);
}


label{
    width: 100%;
    text-align: left;
    font-family: 'Playfair Display', serif;
}

main{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
}

tbody{
    font-family: 'Poiret One', cursive;
    -webkit-text-stroke: 1px #000;
}

thead{
    font-family: 'Playfair Display', serif;
}

tr{
    border-bottom: 2px solid var(--darkerYellow);
}

/* classes */

.btn {
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
    background: var(--gold) !important;
    color: var(--darkerYellow) !important;
    border: 2px solid var(--lighterYellow) !important;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: 0 0 10px 5px var(--lighterYellow) !important;
}

.btn:hover{
    box-shadow: inset 0 0 15px  rgba(238, 232, 170, 0.8), 0 0 20px rgba(0,0,0,0.2);
}

.costLabel{
    height: 100%;
    width: 50vw;
    padding: 5px;
    text-align: right;
}

.costWarning{
    /*background:linear-gradient(rgba(255, 0, 24, 0.8), transparent,
                                transparent, rgba(255, 0, 24, 0.8));*/
    box-shadow: inset 0 0 50px rgba(255, 0, 24, 1);
    color: #fff;
}

.form-row{
    justify-content: center;      
}

.form-control{
    min-width: 120px !important;
}

.heroLogo{
    font-size: 60px;
    -webkit-text-stroke: 2px var(--mediumYellow);
    color: color: var(--mediumYellow);
}

.inputContainer{
    height: 100px;
    width: 150px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.invalid-feedback{
    color: var(--red);
    text-align: center;
}

.tableContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2vh 5vw 2vh 5vw;
}

.totalCost{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px 5vw 10px 5vw;
    font-size: 20px;
}

.monthlyCost{
    height: 100%;
    padding: 5px;
    font-family: 'Poiret One', cursive;
    
}

.pageTitle{
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    background-color: rgb(218, 165, 32);
    color: var(--lighterYellow);
    text-shadow: -2px 2px 3px rgba(255,255,255,0.3);
    -webkit-text-stroke: 1px var(--darkerYellow); /*rgb(237, 142, 0);*/
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.removeBtn{
    background: transparent;
    border: none;
    color: var(--darkerYellow);
    -webkit-text-stroke: 0;
}

.rowContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sectionTitle{
    font-family: 'Playfair Display', serif;
    background-color: rgb(218, 165, 32);
    color: var(--darkerYellow);
    text-shadow: -2px 2px 3px rgba(255,255,255,0.3);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.signature{
    height: auto;
    color: var(--mediumYellow);
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Poiret One', cursive;
}
.signature div{
    color: var(--mediumYellow);
}

.tableBody{
    overflow-y: scroll;
}

.tableHead{
    border-bottom: 4px solid var(--darkerYellow);
}